<div class="bg-white sticky" id="sidebar-wrapper">
  <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold border-bottom" id="logoh"><i class="bi bi-capsule"></i> hWellness</div>
  <div class="list-group list-group-flush my-3 sidebar-list">
      <a href="/dashboard" class="list-group-item list-group-item-action fs-5" id="dashboard"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
      <a href="/medication" class="list-group-item list-group-item-action fs-5" id="medication"><i class="bi bi-capsule-pill me-2"></i>Medication</a>
      <a href="/medication/add" class="list-group-item list-group-item-action fs-5" id="medicationAdd"><i class="bi bi-prescription2 me-2"></i>Add medication</a>
      <a href="/reports" class="list-group-item list-group-item-action fs-5" id="reports"><i class="bi bi-clipboard2-pulse me-2"></i>Reports</a>
  </div>
</div>